[Unit]
Description=Service for running pipymo flask http server
After=network.target

[Service]
User=REPLACE_THIS_USERNAME
ExecStart=/usr/bin/python3 /usr/local/bin/pipymo serve
ExecStop=/usr/bin/echo "pipymo stopped"

[Install]
WantedBy=multi-user.target
